table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  background-color: #fff;
  min-width: 100%;
  th {
    background-color: #ccc;
    // text-align: center;
    text-align: left;
    padding: 5px;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 400;
    color: black;
  }
  tbody {
    font-size: 14px;
    tr {
      // text-align: center;
      text-align: left;
      td {
        padding: 5px;
        border: 1px solid #ccc;
        white-space: nowrap;
      }
    }  
  }
}